/* CSS file for the About PS Page */

/* Divisions */

.about-title {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background-image: url('Images/aboutbanner.jpg');
    background-size: cover;
    background-position: center 35%;
    text-align: left;
}

.about-body1 {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    background-color: #162C57;
    text-align: right;
}

.about-body2 {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: #162C57;
    text-align: left;
}

.video {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: #162C57;
    align-content: center;
}

/* Fonts and text styling */
/* Title section */
.about-title h1 {
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 2px #B42B38;
    font-size: 50pt;
    color: #162C57;
    margin: 0;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 50%;
}

.about-title p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    color: #162C57;
    margin: 0;
    padding-left: 2%;
    padding-right: 50%;
}

/* Body of the page */
.about-body1 h1 {
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 2px #B42B38;
    font-size: 50pt;
    color: white;
    padding-top: 3%;
    padding-right: 3%;
}

.about-body2 h1 {
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 2px #B42B38;
    font-size: 50pt;
    color: white;
    padding-top: 3%;
    padding-left: 3%;
}

.about-body1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: white;
    padding-right: 3%;
    padding-left: 50%;
}

.about-body2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: white;
    padding-right: 50%;
    padding-left: 3%;
}

.about-body1 img {
    padding-top: 4%;
    padding-left: 3%;
    float: left;
}

.about-body2 img {
    padding-right: 3%;
    float: right;
}

iframe {
    position: relative;
    top: 10%;
    left: 27%;
}